// @use 'global' as *
@use './data/ids.json' as ids

body
  margin: 0
header
  padding: 0 1em
  button
    display: none

  input##{ids.$stateId}
    &[value="#{ids.$stoppingState}"] ~ ##{ids.$startButtonId}
      display: revert
    &[value="#{ids.$runningState}"] ~ ##{ids.$stopButtonId}
      display: revert

main
  canvas
    width: 100%
    aspect-ratio: 1

// canvas#graph
//   position:

##{ids.$infoContainerId}
  font-size: x-small
  font-family: monospace
  z-index: 2
  position: fixed
  right: 0
  bottom: 0
  color: yellow
  background: black
